<a href="https://colab.research.google.com/github/wiv33/A-Learning-python/blob/master/machine-learning/_000_hello_machine/_000_basic/_003_tensorflow_cuk_edu/_002_2_ml/_003_WhatShouldIEatToday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What should I eat today?

# 데이터 로드하기

- 2019-08 ~ 2020-10
전화 데이터 : 연령대, 성별, 음식점
날씨 데이터 : 강수량, 눈, 최고, 최저, 평균, 기온

In [1]:
file_names = ["call_1908.csv", "call_1909.csv", "call_1910.csv", "call_1911.csv", "call_1912.csv", "call_2001.csv", "call_2002.csv", "call_2003.csv", "call_2004.csv", "call_2005.csv", "call_2006.csv", "call_2007.csv", "call_2008.csv", "call_2009.csv", "call_2010.csv", "weahter_final.csv"]
data_location = ["1AOYLpP9B6oUrlFz1S2B_-JlNXiwb2uLM", "1tSHjQ_Rf5H2dpLHtczVdKxX11avKovfL", "1gFPdMlf8tcxXMepm95I99SNRjjAlG3WQ", "1aqKZqEe8I8_rBB5ZP2aeJScu7rremoXG", "1l-_5WIDKx5f4JFMUg8SNM67foJJ6A6p6", "1wCnAcveLXq-v7oyAT3v3YRyCfsjkGtxG", "1EtbBjzwbCQ170yLQemp479z0TOZKHIOr", "1DBJTRHIPXmEpgas6kCwAYnnJ159sz9UV", "1mM-uhJtfNQ652Mo_r_eyE33RBnXl___h", "1IMTwqb3_jbFJ9XCYdkHkbewudG_FrNx9", "1AKkNRz-xt5aMqa_knBZ3XBznNoIsLAXL", "18xVBK0Rw1nPQfZaZ8Nzvt5gUphsbusyZ", "1IAMjjlFJ_B_3cHvaD-rKZfE0xU7TvDMy", "1bDNdRiKe14PcsMQi_jUwmBQAR0bxvio8", "15IBcX9TM11BEnHZ4qbdwLgN-Sus3oBVF", "1g-7eeYV6ok3aOrsjNwF5oiugfYmeSZHn"]

files = [(file_names[x], data_location[x]) for x in range(len(file_names))]
calls = files[:-1]
weather = files[-1]

In [2]:
calls

[('call_1908.csv', '1AOYLpP9B6oUrlFz1S2B_-JlNXiwb2uLM'),
 ('call_1909.csv', '1tSHjQ_Rf5H2dpLHtczVdKxX11avKovfL'),
 ('call_1910.csv', '1gFPdMlf8tcxXMepm95I99SNRjjAlG3WQ'),
 ('call_1911.csv', '1aqKZqEe8I8_rBB5ZP2aeJScu7rremoXG'),
 ('call_1912.csv', '1l-_5WIDKx5f4JFMUg8SNM67foJJ6A6p6'),
 ('call_2001.csv', '1wCnAcveLXq-v7oyAT3v3YRyCfsjkGtxG'),
 ('call_2002.csv', '1EtbBjzwbCQ170yLQemp479z0TOZKHIOr'),
 ('call_2003.csv', '1DBJTRHIPXmEpgas6kCwAYnnJ159sz9UV'),
 ('call_2004.csv', '1mM-uhJtfNQ652Mo_r_eyE33RBnXl___h'),
 ('call_2005.csv', '1IMTwqb3_jbFJ9XCYdkHkbewudG_FrNx9'),
 ('call_2006.csv', '1AKkNRz-xt5aMqa_knBZ3XBznNoIsLAXL'),
 ('call_2007.csv', '18xVBK0Rw1nPQfZaZ8Nzvt5gUphsbusyZ'),
 ('call_2008.csv', '1IAMjjlFJ_B_3cHvaD-rKZfE0xU7TvDMy'),
 ('call_2009.csv', '1bDNdRiKe14PcsMQi_jUwmBQAR0bxvio8'),
 ('call_2010.csv', '15IBcX9TM11BEnHZ4qbdwLgN-Sus3oBVF')]

In [3]:
weather

('weahter_final.csv', '1g-7eeYV6ok3aOrsjNwF5oiugfYmeSZHn')

## 데이터 파일 읽어오기

하나의 공유 파일을 불러와 column을 출력한다.

In [4]:
import pandas as pd

In [5]:
# id = "1AOYLpP9B6oUrlFz1S2B_-JlNXiwb2uLM"
# df = pd.read_csv(f"https://drive.google.com/uc?id={id}&authuser=0&export=download")

In [16]:
# df.columns
df_columns = ['일자(YYYYMMDD)', '연령', '성별', '발신지(시도)', '발신지(시군구)', '대분류', '중분류',
       '통화비율(시군구내)']
df_columns

['일자(YYYYMMDD)', '연령', '성별', '발신지(시도)', '발신지(시군구)', '대분류', '중분류', '통화비율(시군구내)']

판다스에 축적하기

In [7]:
import pandas as pd

In [8]:
def downloadUrl(id):
  return f"https://drive.google.com/uc?id={id}&authuser=0&export=download"

def accumulateDataFrame(acc_df: pd.DataFrame, doc_ids: []) -> pd.DataFrame:
  if type(doc_ids) != list:  # list 형태로 만들어서 입력받아야 함.
    print("구글 ID를 모은 `리스트`가 필요합니다. ex) [ids]")
    return

  for name, id in doc_ids:  # doc_ids file 다운로드 및 append 작업
  # 총 세 단계
    acc_df = acc_df.append(pd.read_csv(downloadUrl(id)),
                           ignore_index=True)

  return acc_df.copy()  # 복사본을 만들어 반환한다.

- 컬럼이 선언된 DataFrame, 구글 id 리스트를 입력받아 하나로 축적
- 세 단계:
  1. pd.read_csv로 파일을 불러와 DataFrame으로 만든다.
  2. 기존 DataFrame에 추가(새로운 DataFrame 형성)하고
  3. 새로운 DataFrame으로 교체한다.

In [9]:
init_df = pd.DataFrame(data=None, columns=['일자(YYYYMMDD)', '연령', '성별', 
                                      '발신지(시도)', '발신지(시군구)', 
                                      '대분류', '중분류', 
                                      '통화비율(시군구내)'])
init_df = accumulateDataFrame(init_df, calls)

In [10]:
init_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8471741 entries, 0 to 8471740
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   일자(YYYYMMDD)  object
 1   연령            object
 2   성별            object
 3   발신지(시도)       object
 4   발신지(시군구)      object
 5   대분류           object
 6   중분류           object
 7   통화비율(시군구내)    float64
dtypes: float64(1), object(7)
memory usage: 517.1+ MB

In [11]:
init_df.head()

  일자(YYYYMMDD)  연령  성별 발신지(시도) 발신지(시군구)    대분류   중분류  통화비율(시군구내)
0     20190801  60  남성      강원      강릉시   생활편의  생활편의      0.0003
1     20190801  40  남성      강원      강릉시    음식점    한식      0.0004
2     20190801  50  남성      강원      강릉시     여행    숙박      0.0004
3     20190801  40  남성      강원      강릉시  서비스산업   제조업      0.0001
4     20190801  40  여성      강원      강릉시  서비스산업  공공기업      0.0001

+ 대분류 `음식점`인 카테고리의 `중분류` 활용

In [14]:
print("NaN 개수 확인")
print(f"일시: {df_w.iloc[:, 2].isna().sum()}개")
print(f"평균기온: {df_w.iloc[:, 3].isna().sum()}개")
print(f"최저기온: {df_w.iloc[:, 4].isna().sum()}개")
print(f"최고기온: {df_w.iloc[:, 5].isna().sum()}개")
print(f"평균 풍속: {df_w.iloc[:, 8].isna().sum()}개")
print(f"현지 기압: {df_w.iloc[:, 9].isna().sum()}개")
print(f"합계 일조시간: {df_w.iloc[:, 10].isna().sum()}개")

NaN 개수 확인
일시: 0개
평균기온: 53개
최저기온: 8개
최고기온: 5개
평균 풍속: 52개
현지 기압: 87개
합계 일조시간: 78개

- 평균, 최저, 최고 `기온` => 어제 + 내일의 평균 값으로 대체
- 평균 풍속 => 0처리
- 현지 기압 => 어제 + 내일의 평균 값으로 대체
- 합계 일조시간 => 어제 + 내일의 평균 값으로 대체

# 통화 데이터 정제

1. 통화 내역에서 음식점만 추출하기

2. 음식점 데이터 가공하기

3. 년월일을 날짜 형식으로 변환하기

4. 일-토 추가하기

5. 성별 1(남), 2(여)로 , 나이 int type으로 변환하기

6. 대분류 지우기

7. ~~발신지 + 날씨 지역과 합친 후 삭제하기~~

## 1. 사용할 `음식점` 추출하기

In [69]:
df = init_df.groupby(['대분류']).get_group('음식점')
df

        일자(YYYYMMDD)  연령  성별 발신지(시도) 발신지(시군구)  대분류 중분류  통화비율(시군구내)
1           20190801  40  남성      강원      강릉시  음식점  한식      0.0004
9           20190801  40  남성      강원      강릉시  음식점  중식      0.0002
10          20190801  40  여성      강원      강릉시  음식점  양식      0.0001
16          20190801  30  남성      강원      강릉시  음식점  중식      0.0001
19          20190801  60  남성      강원      강릉시  음식점  한식      0.0002
...              ...  ..  ..     ...      ...  ...  ..         ...
8471720     20201023  30  남성      충북      청주시  음식점  치킨      0.0001
8471725     20201023  40  여성      충북      청주시  음식점  치킨      0.0002
8471728     20201008  40  여성      충북      청주시  음식점  한식      0.0003
8471730     20201001  40  여성      충북      청주시  음식점  한식      0.0002
8471732     20201010  40  여성      충북      청주시  음식점  치킨      0.0002

[1516970 rows x 8 columns]

대략 150만 건이 있다.

사용할 수 있는 음식점과 임의로 변형할 데이터를 탐색해보자.

## 2. 음식점 데이터 `가공하기`

In [70]:
df.groupby('중분류').size()

중분류
간식           1656
기사식당            3
도시락           560
배달음식점          12
분식          55786
뷔페            138
술집            269
야식              2
양식          17331
음식점          1086
일식            863
중식         191265
치킨         405202
카페          19094
패밀리레스토랑        14
패스트푸드         757
퓨전요리            1
한식         822931
dtype: int64

- 애매한 표현
  + 간식
  + 배달음식점
  + 야식
  + 음식점
  + 기사식당
  + 술집
  + 도시락

위 표현들은 음식을 추천해줄 때 매우 난해하다.

> ex) 
>
> > 오늘 당신에게 추천할 음식은 **간식**입니다.
>
> > 오늘 당신에게 추천할 음식은 **야식**입니다.

위 표현들은 임의로 변경해야 맞다고 판단.

---


변환될 표현

+ 야식 -> `족발`
+ 배달음식점 -> `족발`
+ 간식 -> `패스트푸드`
+ 기사식당 -> `한식`
+ 술집 -> `치킨`
+ 음식점 -> `파전`
+ 도시락 -> `족발`

In [65]:
change_map = {
    '야식': '족발',
    '배달음식점': '족발',
    '간식': '패스트푸드',
    '기사식당': '한식',
    '술집': '치킨',
    '음식점': '파전',
    '도시락': '족발'
}

print(f"야식 to {change_map['야식']}")

야식 to 족발

In [49]:
def change_menu(keyword):
  if keyword in change_map:
    return change_map[keyword]
  return keyword

In [55]:
print(f"변환 가능한 '야식'은 -> {change_menu('야식')}\n변환 불가능한 '일식'은 -> {change_menu('일식')}")

변환 가능한 '야식'은 -> 족발
변환 불가능한 '일식'은 -> 일식

In [75]:
df.loc[:, '중분류'] = df['중분류'].apply(change_menu)
df.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

   일자(YYYYMMDD)  연령  성별 발신지(시도) 발신지(시군구)  대분류 중분류  통화비율(시군구내)
1      20190801  40  남성      강원      강릉시  음식점  한식      0.0004
9      20190801  40  남성      강원      강릉시  음식점  중식      0.0002
10     20190801  40  여성      강원      강릉시  음식점  양식      0.0001
16     20190801  30  남성      강원      강릉시  음식점  중식      0.0001
19     20190801  60  남성      강원      강릉시  음식점  한식      0.0002

In [76]:
df.groupby('중분류').size()

중분류
분식          55786
뷔페            138
양식          17331
일식            863
족발            574
중식         191265
치킨         405471
카페          19094
파전           1086
패밀리레스토랑        14
패스트푸드        2413
퓨전요리            1
한식         822934
dtype: int64

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1516970 entries, 1 to 8471732
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   일자(YYYYMMDD)  1516970 non-null  object
 1   연령            1516970 non-null  object
 2   성별            1516970 non-null  object
 3   발신지(시도)       1516970 non-null  object
 4   발신지(시군구)      1516970 non-null  object
 5   대분류           1516970 non-null  object
 6   중분류           1516970 non-null  object
 7   통화비율(시군구내)    1516970 non-null  float64
dtypes: float64(1), object(7)
memory usage: 104.2+ MB

## 3. 년월일 `날짜 형식`으로 변환하기

데이터 변환 중 실수를 방지하기 위해 copy해서 사용

In [105]:
df_test = df.copy()

In [106]:
df_test.iloc[:, 0] = df.iloc[:, 0].apply(lambda x: pd.to_datetime(str(x)))
df_test.head()

   일자(YYYYMMDD)  연령  성별 발신지(시도) 발신지(시군구)  대분류 중분류  통화비율(시군구내)
1    2019-08-01  40  남성      강원      강릉시  음식점  한식      0.0004
9    2019-08-01  40  남성      강원      강릉시  음식점  중식      0.0002
10   2019-08-01  40  여성      강원      강릉시  음식점  양식      0.0001
16   2019-08-01  30  남성      강원      강릉시  음식점  중식      0.0001
19   2019-08-01  60  남성      강원      강릉시  음식점  한식      0.0002

## 4. 월-일 추가하기

- 월: 0
- 화: 1
- 수: 2

...

- 일: 6

In [162]:
pd.to_datetime('2019-08-04').dayofweek , pd.to_datetime('2019-08-04').day_name()

(6, 'Sunday')

In [164]:
df_test.insert(1, 'dayofweek', df_test.iloc[:, 0].apply(lambda x: x.dayofweek))

In [165]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1516970 entries, 1 to 8471732
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   일자(YYYYMMDD)  1516970 non-null  datetime64[ns]
 1   dayofweek     1516970 non-null  int64
 2   연령            1516970 non-null  int64
 3   성별            1516970 non-null  int64
 4   발신지(시도)       1516970 non-null  object
 5   발신지(시군구)      1516970 non-null  object
 6   대분류           1516970 non-null  object
 7   중분류           1516970 non-null  object
 8   통화비율(시군구내)    1516970 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 115.7+ MB

## 5. 성별, 연령 int type으로 변환

In [166]:
import numpy as np
df_test.loc[:, ['연령']] = df_test['연령'].apply(np.int32)
df_test.loc[:, ['성별']] = df_test['성별'].apply(lambda x: 1 if x == '남성' else 2)
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1516970 entries, 1 to 8471732
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   일자(YYYYMMDD)  1516970 non-null  datetime64[ns]
 1   dayofweek     1516970 non-null  int64
 2   연령            1516970 non-null  int64
 3   성별            1516970 non-null  int64
 4   발신지(시도)       1516970 non-null  object
 5   발신지(시군구)      1516970 non-null  object
 6   대분류           1516970 non-null  object
 7   중분류           1516970 non-null  object
 8   통화비율(시군구내)    1516970 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 115.7+ MB

## 6. 대분류 지우기

In [171]:
df_test = df_test.drop('대분류', axis=1)

In [173]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1516970 entries, 1 to 8471732
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   일자(YYYYMMDD)  1516970 non-null  datetime64[ns]
 1   dayofweek     1516970 non-null  int64
 2   연령            1516970 non-null  int64
 3   성별            1516970 non-null  int64
 4   발신지(시도)       1516970 non-null  object
 5   발신지(시군구)      1516970 non-null  object
 6   중분류           1516970 non-null  object
 7   통화비율(시군구내)    1516970 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(3)
memory usage: 144.2+ MB

### 남아있는 과제: `지역 합치기`

- 발신지(시도)
- 발신지(시군구)

---

**스케줄**

1. 날씨 데이터 정제
2. 통화 데이터와 지역을 맞춘 후
3. shape 맞추고
4. 두 데이터 통합

# 날씨 데이터 정제

1. 일시 timestamp로 변경
2. 지점명 통화 데이터로 일치시키기
3. NaN 결측치 정제
  - 채우기
    + 평균 기온
    + 최저 기온
    + 최고 기온
    + 합계 일조시간
    + 평균 현지기압

  - 0으로 만들기
    + 강수 계속시간
    + 일 강수량
    + 평균 풍속
    + 일 최심적설

4. 수치화된 지점 제거 (사용하기 어려움)

In [12]:
df_w = pd.read_csv(downloadUrl('1g-7eeYV6ok3aOrsjNwF5oiugfYmeSZHn'))
df_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38928 entries, 0 to 38927
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   지점            38928 non-null  int64
 1   지점명           38928 non-null  object
 2   일시            38928 non-null  object
 3   평균기온(°C)      38875 non-null  float64
 4   최저기온(°C)      38920 non-null  float64
 5   최고기온(°C)      38923 non-null  float64
 6   강수 계속시간(hr)   3746 non-null   float64
 7   일강수량(mm)      15261 non-null  float64
 8   평균 풍속(m/s)    38876 non-null  float64
 9   평균 현지기압(hPa)  38841 non-null  float64
 10  합계 일조시간(hr)   38850 non-null  float64
 11  일 최심적설(cm)    89 non-null     float64
dtypes: float64(9), int64(1), object(2)
memory usage: 3.6+ MB

In [13]:
df_w.head()

   지점 지점명          일시  ...  평균 현지기압(hPa)  합계 일조시간(hr)  일 최심적설(cm)
0  90  속초  2019-08-01  ...        1007.2          8.3         NaN
1  90  속초  2019-08-02  ...        1008.8         13.2         NaN
2  90  속초  2019-08-03  ...        1009.7         10.3         NaN
3  90  속초  2019-08-04  ...        1008.7          6.6         NaN
4  90  속초  2019-08-05  ...        1008.7         12.0         NaN

[5 rows x 12 columns]

## 1. 일시 timestamp로 변경

In [ ]:
df_w.iloc[:, 2] = df_w['일시'].apply(pd.to_datetime)

In [176]:
df_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38928 entries, 0 to 38927
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   지점            38928 non-null  int64
 1   지점명           38928 non-null  object
 2   일시            38928 non-null  datetime64[ns]
 3   평균기온(°C)      38875 non-null  float64
 4   최저기온(°C)      38920 non-null  float64
 5   최고기온(°C)      38923 non-null  float64
 6   강수 계속시간(hr)   3746 non-null   float64
 7   일강수량(mm)      15261 non-null  float64
 8   평균 풍속(m/s)    38876 non-null  float64
 9   평균 현지기압(hPa)  38841 non-null  float64
 10  합계 일조시간(hr)   38850 non-null  float64
 11  일 최심적설(cm)    89 non-null     float64
dtypes: datetime64[ns](1), float64(9), int64(1), object(1)
memory usage: 3.6+ MB

## 2. call 데이터 지역 이름으로 날씨 지점 이름 변경하기

데이터 손실 방지를 위해 복사본 사용

In [197]:
df_w_test = df_w.copy()

In [220]:
target_list = df_w_test['지점명'].unique()
target_list

array(['속초', '철원', '동두천', '파주', '춘천', '백령도', '강릉', '동해', '서울', '인천', '원주',
       '울릉도', '수원', '영월', '충주', '서산', '울진', '청주', '대전', '안동', '상주', '포항',
       '군산', '대구', '전주', '울산', '창원', '광주', '부산', '통영', '목포', '여수', '완도',
       '순천', '홍성', '제주', '서귀포', '진주', '강화', '양평', '이천', '인제', '홍천', '태백',
       '정선군', '제천', '보은', '천안', '보령', '부여', '금산', '세종', '부안', '임실', '정읍',
       '남원', '장수', '고창군', '영광군', '김해시', '양산시', '보성군', '강진군', '장흥', '해남',
       '고흥', '의령군', '함양군', '광양시', '진도군', '봉화', '영주', '문경', '청송군', '영덕',
       '의성', '구미', '영천', '경주시', '거창', '합천', '밀양', '산청', '거제', '남해'],
      dtype=object)

In [196]:
loc_words = df_test['발신지(시군구)'].unique()
loc_words

In [237]:
loc_words

array(['강릉시', '동해시', '삼척시', '속초시', '양양군', '인제군', '정선군', '철원군', '태백시',
       '고양시 일산동구', '고양시 일산서구', '과천시', '광명시', '동두천시', '부천시', '성남시 분당구',
       '성남시 수정구', '수원시 권선구', '안성시', '안양시 동안구', '안양시 만안구', '양평군', '여주시',
       '연천군', '오산시', '용인시 처인구', '의왕시', '평택시', '포천시', '화성시', '거제시', '거창군',
       '밀양시', '양산시', '의령군', '진주시', '창원시 마산합포구', '창원시 성산구', '창원시 의창구',
       '창원시 진해구', '통영시', '하동군', '함양군', '김천시', '문경시', '봉화군', '성주군', '안동시',
       '영덕군', '영주시', '예천군', '울진군', '의성군', '청도군', '포항시 북구', '광산구', '남구',
       '동구', '서구', '북구', '수성구', '대덕구', '유성구', '강서구', '금정구', '기장군', '동래구',
       '사하구', '연제구', '영도구', '해운대구', '강북구', '관악구', '광진구', '노원구', '동작구',
       '마포구', '서초구', '성북구', '영등포구', '용산구', '은평구', '종로구', '중구', '.', '울주군',
       '남동구', '부평구', '곡성군', '광양시', '구례군', '나주시', '무안군', '순천시', '신안군',
       '여수시', '영암군', '완도군', '함평군', '화순군', '김제시', '무주군', '부안군', '완주군',
       '임실군', '전주시 덕진구', '전주시 완산구', '정읍시', '제주시', '계룡시', '논산시', '당진시',
       '서산시', '서천군', '청양군', '홍성군', '단양군', '보은군', '영동군', '옥천군', '음성군',
       '진천군', '청주시 청원구', '청주시 흥덕구', '충주시', '고성군', '양구군', '영월군', '원주시',
       '춘천시', '평창군', '홍천군', '화천군', '횡성군', '가평군', '고양시 덕양구', '광주시', '구리시',
       '군포시', '김포시', '남양주시', '성남시 중원구', '수원시 영통구', '수원시 장안구', '수원시 팔달구',
       '시흥시', '안산시 단원구', '안산시 상록구', '양주시', '용인시 기흥구', '용인시 수지구', '의정부시',
       '이천시', '파주시', '하남시', '김해시', '남해군', '사천시', '산청군', '창녕군',
       '창원시 마산회원구', '함안군', '합천군', '경산시', '경주시', '고령군', '구미시', '군위군',
       '상주시', '영양군', '영천시', '울릉군', '청송군', '칠곡군', '포항시 남구', '달서구', '달성군',
       '부산진구', '사상구', '수영구', '강남구', '강동구', '구로구', '금천구', '도봉구', '동대문구',
       '서대문구', '성동구', '송파구', '양천구', '중랑구', '세종특별자치시', '강화군', '계양구', '연수구',
       '옹진군', '강진군', '고흥군', '담양군', '목포시', '보성군', '영광군', '장성군', '장흥군',
       '진도군', '해남군', '고창군', '군산시', '남원시', '순창군', '익산시', '장수군', '진안군',
       '서귀포시', '공주시', '금산군', '보령시', '부여군', '아산시', '예산군', '천안시 동남구',
       '천안시 서북구', '태안군', '괴산군', '제천시', '증평군', '청주시 상당구', '청주시 서원구', '전주시',
       '고양시', '안산시', '안양시', '포항시', '수원시', '미추홀구', '성남시', '용인시', '천안시',
       '창원시', '청주시'], dtype=object)

In [ ]:
from collections import defaultdict

new_mapping = defaultdict(str)

for x in target_list:
  length = len(x)
  for y in loc_words:
    if x in y[:length]:
      new_mapping[x] = y
      break
    else:
      new_mapping[x] = x

매핑 후 `일반화되지 못한 지역`은 수작업

> ex)
> > 수원시 권선구
>
> > 포항시 북구

In [238]:
new_mapping['수원'] = '수원시'
new_mapping['전주'] = '전주시'
new_mapping['창원'] = '창원시'
new_mapping['포항'] = '포항시'
new_mapping['천안'] = '천안시'
new_mapping['청주'] = '청주시'

In [239]:
new_mapping

defaultdict(str,
            {'강릉': '강릉시',
             '강진군': '강진군',
             '강화': '강화군',
             '거제': '거제시',
             '거창': '거창군',
             '경주시': '경주시',
             '고창군': '고창군',
             '고흥': '고흥군',
             '광양시': '광양시',
             '광주': '광주시',
             '구미': '구미시',
             '군산': '군산시',
             '금산': '금산군',
             '김해시': '김해시',
             '남원': '남원시',
             '남해': '남해군',
             '대구': '대구',
             '대전': '대전',
             '동두천': '동두천시',
             '동해': '동해시',
             '목포': '목포시',
             '문경': '문경시',
             '밀양': '밀양시',
             '백령도': '백령도',
             '보령': '보령시',
             '보성군': '보성군',
             '보은': '보은군',
             '봉화': '봉화군',
             '부산': '부산진구',
             '부안': '부안군',
             '부여': '부여군',
             '산청': '산청군',
             '상주': '상주시',
             '서귀포': '서귀포시',
             '서산': '서산시',
             '서울': '서울',
             '세종': '세종특별자치시',
             '속초': '속초시',
             '수원': '수원시',
             '순천': '순천시',
             '안동': '안동시',
             '양산시': '양산시',
             '양평': '양평군',
             '여수': '여수시',
             '영광군': '영광군',
             '영덕': '영덕군',
             '영월': '영월군',
             '영주': '영주시',
             '영천': '영천시',
             '완도': '완도군',
             '울릉도': '울릉도',
             '울산': '울산',
             '울진': '울진군',
             '원주': '원주시',
             '의령군': '의령군',
             '의성': '의성군',
             '이천': '이천시',
             '인제': '인제군',
             '인천': '인천',
             '임실': '임실군',
             '장수': '장수군',
             '장흥': '장흥군',
             '전주': '전주시',
             '정선군': '정선군',
             '정읍': '정읍시',
             '제주': '제주시',
             '제천': '제천시',
             '진도군': '진도군',
             '진주': '진주시',
             '창원': '창원시',
             '천안': '천안시',
             '철원': '철원군',
             '청송군': '청송군',
             '청주': '청주시',
             '춘천': '춘천시',
             '충주': '충주시',
             '태백': '태백시',
             '통영': '통영시',
             '파주': '파주시',
             '포항': '포항시',
             '함양군': '함양군',
             '합천': '합천군',
             '해남': '해남군',
             '홍성': '홍성군',
             '홍천': '홍천군'})

매핑된 값을 dataFrame에 반영

In [242]:
df_w_test.loc[:, '지점명'] = df_w_test['지점명'].apply(lambda x: new_mapping[x])
df_w_test

        지점  지점명         일시  ...  평균 현지기압(hPa)  합계 일조시간(hr)  일 최심적설(cm)
0       90  속초시 2019-08-01  ...        1007.2          8.3         NaN
1       90  속초시 2019-08-02  ...        1008.8         13.2         NaN
2       90  속초시 2019-08-03  ...        1009.7         10.3         NaN
3       90  속초시 2019-08-04  ...        1008.7          6.6         NaN
4       90  속초시 2019-08-05  ...        1008.7         12.0         NaN
...    ...  ...        ...  ...           ...          ...         ...
38923  295  남해군 2020-10-27  ...        1015.1          9.0         NaN
38924  295  남해군 2020-10-28  ...        1015.8          1.1         NaN
38925  295  남해군 2020-10-29  ...        1017.1          8.6         NaN
38926  295  남해군 2020-10-30  ...        1019.0          8.9         NaN
38927  295  남해군 2020-10-31  ...        1020.1          8.7         NaN

[38928 rows x 12 columns]

## 3. NaN 정제

### 채우기

In [244]:
# 평균기온
df_w_test['평균기온(°C)'].isna().sum()

53

- 총 53개의 NaN

+- 2일 데이터가 온전하지 않은 데이터는 수작업

In [302]:
df_w_test.loc[14677, '평균기온(°C)'] = 26.7
df_w_test.loc[21640, '평균기온(°C)'] = 11.1
df_w_test.loc[25747, '평균기온(°C)'] = 4.3
df_w_test.loc[29639, '평균기온(°C)'] = 22.4
df_w_test.loc[30436, '평균기온(°C)'] = 10.6
df_w_test.loc[30952, '평균기온(°C)'] = 11.0
df_w_test.loc[30954, '평균기온(°C)'] = 12.4
df_w_test.loc[31677, '평균기온(°C)'] = 14.7
df_w_test.loc[31935, '평균기온(°C)'] = 19.8
df_w_test.loc[30954, '평균기온(°C)'] = 18.2
df_w_test.loc[31936, '평균기온(°C)'] = 18.2
df_w_test.loc[33943, '평균기온(°C)'] = -1.6
df_w_test.loc[36767, '평균기온(°C)'] = 16.8

In [316]:
def set_mean_value(update_df: pd.DataFrame, col_name) -> pd.DataFrame:
  for idx in update_df[update_df[col_name].isna()].index:
    # print(idx)
    before = np.mean(update_df.loc[idx-2 : idx-1, col_name])
    after = np.mean(update_df.loc[idx+1 : idx+2, col_name])
    update_df.loc[idx, col_name] = np.divide(before + after, 2)
  return update_df.copy()

In [256]:
df_w_test[df_w_test['평균기온(°C)'].isna()].index

Int64Index([ 1881,  6871,  7377,  7716, 10197, 10334, 14677, 14678, 15117,
            15173, 15230, 15282, 18979, 20332, 21640, 21641, 22346, 25086,
            25320, 25329, 25345, 25363, 25385, 25747, 25748, 26201, 26619,
            27144, 27674, 28415, 29639, 29640, 30436, 30437, 30609, 30952,
            30954, 30955, 31677, 31678, 31723, 31935, 31936, 31937, 32111,
            33943, 33944, 34712, 35478, 36767, 36768, 36779, 38260],
           dtype='int64')

In [384]:
test_dd = set_mean_value(df_w_test.copy(), '평균기온(°C)')

In [385]:
test_dd['평균기온(°C)']

0        29.7
1        29.4
2        26.7
3        27.0
4        27.7
         ...
38923    14.3
38924    14.6
38925    12.5
38926    13.4
38927    12.6
Name: 평균기온(°C), Length: 38928, dtype: float64

In [386]:
test_dd['평균기온(°C)'].isna().sum() == 0

True

In [387]:
test_dd.head()

   지점  지점명         일시  ...  평균 현지기압(hPa)  합계 일조시간(hr)  일 최심적설(cm)
0  90  속초시 2019-08-01  ...        1007.2          8.3         NaN
1  90  속초시 2019-08-02  ...        1008.8         13.2         NaN
2  90  속초시 2019-08-03  ...        1009.7         10.3         NaN
3  90  속초시 2019-08-04  ...        1008.7          6.6         NaN
4  90  속초시 2019-08-05  ...        1008.7         12.0         NaN

[5 rows x 12 columns]

나머지 값들도 변환

최저기온

In [388]:
test_dd = set_mean_value(test_dd.copy(), '최저기온(°C)')
test_dd['최저기온(°C)'].isna().sum() == 0

True

최고기온

In [389]:
print(test_dd['최고기온(°C)'].isna().sum())
test_dd = set_mean_value(test_dd.copy(), '최고기온(°C)')
test_dd['최고기온(°C)'].isna().sum() == 0

5

True

평균 현지기압

In [390]:
print(test_dd['평균 현지기압(hPa)'].isna().sum())
test_dd = set_mean_value(test_dd.copy(), '평균 현지기압(hPa)')
test_dd['평균 현지기압(hPa)'].isna().sum()

87

24

평균 현지기압 수작업

In [391]:
test_dd[test_dd['평균 현지기압(hPa)'].isna()]

        지점  지점명         일시  ...  평균 현지기압(hPa)  합계 일조시간(hr)  일 최심적설(cm)
2899   105  강릉시 2019-12-30  ...           NaN          3.4         NaN
2900   105  강릉시 2019-12-31  ...           NaN          8.7         NaN
2901   105  강릉시 2020-01-01  ...           NaN          8.6         NaN
2902   105  강릉시 2020-01-02  ...           NaN          8.4         NaN
36638  285  합천군 2019-08-01  ...           NaN         12.9         NaN
36639  285  합천군 2019-08-02  ...           NaN         12.2         NaN
36640  285  합천군 2019-08-03  ...           NaN         10.4         NaN
36641  285  합천군 2019-08-04  ...           NaN         11.5         NaN
36642  285  합천군 2019-08-05  ...           NaN         10.4         NaN
36643  285  합천군 2019-08-06  ...           NaN          1.3         NaN
36644  285  합천군 2019-08-07  ...           NaN          5.5         NaN
36645  285  합천군 2019-08-08  ...           NaN          6.8         NaN
36646  285  합천군 2019-08-09  ...           NaN          9.4         NaN
36648  285  합천군 2019-08-11  ...           NaN          7.6         NaN
36649  285  합천군 2019-08-12  ...           NaN          2.3         NaN
36650  285  합천군 2019-08-13  ...           NaN          7.3         NaN
36651  285  합천군 2019-08-14  ...           NaN          5.8         NaN
36655  285  합천군 2019-08-18  ...           NaN          NaN         NaN
36656  285  합천군 2019-08-19  ...           NaN          6.2         NaN
36657  285  합천군 2019-08-20  ...           NaN          4.2         NaN
36658  285  합천군 2019-08-21  ...           NaN          0.0         NaN
36659  285  합천군 2019-08-22  ...           NaN          NaN         NaN
36660  285  합천군 2019-08-23  ...           NaN          NaN         NaN
36661  285  합천군 2019-08-24  ...           NaN          NaN         NaN

[24 rows x 12 columns]

In [392]:
test_dd.iloc[2895:2912, ]

       지점  지점명         일시  ...  평균 현지기압(hPa)  합계 일조시간(hr)  일 최심적설(cm)
2895  105  강릉시 2019-12-26  ...     1010.9000          0.0         NaN
2896  105  강릉시 2019-12-27  ...     1018.2000          8.7         NaN
2897  105  강릉시 2019-12-28  ...     1024.4000          8.3         NaN
2898  105  강릉시 2019-12-29  ...     1022.6000          0.1         NaN
2899  105  강릉시 2019-12-30  ...           NaN          3.4         NaN
2900  105  강릉시 2019-12-31  ...           NaN          8.7         NaN
2901  105  강릉시 2020-01-01  ...           NaN          8.6         NaN
2902  105  강릉시 2020-01-02  ...           NaN          8.4         NaN
2903  105  강릉시 2020-01-03  ...     1019.1000          8.8         NaN
2904  105  강릉시 2020-01-04  ...     1019.5000          8.7         NaN
2905  105  강릉시 2020-01-05  ...     1026.4000          8.1         NaN
2906  105  강릉시 2020-01-06  ...     1023.2000          0.0         NaN
2907  105  강릉시 2020-01-07  ...     1010.0000          0.0         NaN
2908  105  강릉시 2020-01-08  ...     1016.8500          1.3         NaN
2909  105  강릉시 2020-01-09  ...     1014.4875          8.9         NaN
2910  105  강릉시 2020-01-10  ...     1017.1000          7.9         NaN
2911  105  강릉시 2020-01-11  ...     1014.0000          9.0         NaN

[17 rows x 12 columns]

In [393]:
test_dd.iloc[2899:2903, 9] = 1017.7000

In [394]:
test_dd.iloc[2899:2903]

       지점  지점명         일시  ...  평균 현지기압(hPa)  합계 일조시간(hr)  일 최심적설(cm)
2899  105  강릉시 2019-12-30  ...        1017.7          3.4         NaN
2900  105  강릉시 2019-12-31  ...        1017.7          8.7         NaN
2901  105  강릉시 2020-01-01  ...        1017.7          8.6         NaN
2902  105  강릉시 2020-01-02  ...        1017.7          8.4         NaN

[4 rows x 12 columns]

In [395]:
test_dd.iloc[36638:36661]

        지점  지점명         일시  ...  평균 현지기압(hPa)  합계 일조시간(hr)  일 최심적설(cm)
36638  285  합천군 2019-08-01  ...           NaN         12.9         NaN
36639  285  합천군 2019-08-02  ...           NaN         12.2         NaN
36640  285  합천군 2019-08-03  ...           NaN         10.4         NaN
36641  285  합천군 2019-08-04  ...           NaN         11.5         NaN
36642  285  합천군 2019-08-05  ...           NaN         10.4         NaN
36643  285  합천군 2019-08-06  ...           NaN          1.3         NaN
36644  285  합천군 2019-08-07  ...           NaN          5.5         NaN
36645  285  합천군 2019-08-08  ...           NaN          6.8         NaN
36646  285  합천군 2019-08-09  ...           NaN          9.4         NaN
36647  285  합천군 2019-08-10  ...        1002.9         10.0         NaN
36648  285  합천군 2019-08-11  ...           NaN          7.6         NaN
36649  285  합천군 2019-08-12  ...           NaN          2.3         NaN
36650  285  합천군 2019-08-13  ...           NaN          7.3         NaN
36651  285  합천군 2019-08-14  ...           NaN          5.8         NaN
36652  285  합천군 2019-08-15  ...         986.9          1.2         NaN
36653  285  합천군 2019-08-16  ...         992.3          7.2         NaN
36654  285  합천군 2019-08-17  ...         998.7         12.0         NaN
36655  285  합천군 2019-08-18  ...           NaN          NaN         NaN
36656  285  합천군 2019-08-19  ...           NaN          6.2         NaN
36657  285  합천군 2019-08-20  ...           NaN          4.2         NaN
36658  285  합천군 2019-08-21  ...           NaN          0.0         NaN
36659  285  합천군 2019-08-22  ...           NaN          NaN         NaN
36660  285  합천군 2019-08-23  ...           NaN          NaN         NaN

[23 rows x 12 columns]

In [405]:
test_dd.iloc[36638:36647, -3] = 1000.
test_dd.iloc[36648:36652, -3] = 980.7
test_dd.iloc[36655:36661, -3] = 999.7
test_dd.iloc[36661, -3] = 1000.7

In [407]:
test_dd['평균 현지기압(hPa)'].isna().sum() == 0

True

합계 일조시간

In [408]:
print(test_dd['합계 일조시간(hr)'].isna().sum())
test_dd = set_mean_value(test_dd.copy(), '합계 일조시간(hr)')
test_dd['합계 일조시간(hr)'].isna().sum()

22

20

### 0으로 만들기

+ 합계 일조시간 22개
+ 강수 계속시간 
+ 일 강수량 
+ 일 최심적설

In [409]:
test_dd.fillna(0)

        지점  지점명         일시  ...  평균 현지기압(hPa)  합계 일조시간(hr)  일 최심적설(cm)
0       90  속초시 2019-08-01  ...        1007.2          8.3         0.0
1       90  속초시 2019-08-02  ...        1008.8         13.2         0.0
2       90  속초시 2019-08-03  ...        1009.7         10.3         0.0
3       90  속초시 2019-08-04  ...        1008.7          6.6         0.0
4       90  속초시 2019-08-05  ...        1008.7         12.0         0.0
...    ...  ...        ...  ...           ...          ...         ...
38923  295  남해군 2020-10-27  ...        1015.1          9.0         0.0
38924  295  남해군 2020-10-28  ...        1015.8          1.1         0.0
38925  295  남해군 2020-10-29  ...        1017.1          8.6         0.0
38926  295  남해군 2020-10-30  ...        1019.0          8.9         0.0
38927  295  남해군 2020-10-31  ...        1020.1          8.7         0.0

[38928 rows x 12 columns]

# 정제 후 데이터 저장

- df_test : call data
- test_dd : weather data

In [412]:
df_test.to_csv('/content/drive/MyDrive/Colab Notebooks/data/data/whatShouldIEatToday/refine/df_c.csv')
test_dd.to_csv('/content/drive/MyDrive/Colab Notebooks/data/data/whatShouldIEatToday/refine/df_w.csv')

In [413]:
df_c = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/data/whatShouldIEatToday/refine/df_c.csv')
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1516970 entries, 0 to 1516969
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Unnamed: 0    1516970 non-null  int64
 1   일자(YYYYMMDD)  1516970 non-null  object
 2   dayofweek     1516970 non-null  int64
 3   연령            1516970 non-null  int64
 4   성별            1516970 non-null  int64
 5   발신지(시도)       1516970 non-null  object
 6   발신지(시군구)      1516970 non-null  object
 7   중분류           1516970 non-null  object
 8   통화비율(시군구내)    1516970 non-null  float64
dtypes: float64(1), int64(4), object(4)
memory usage: 104.2+ MB

In [414]:
df_w = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/data/whatShouldIEatToday/refine/df_w.csv')
df_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38928 entries, 0 to 38927
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    38928 non-null  int64
 1   지점            38928 non-null  int64
 2   지점명           38928 non-null  object
 3   일시            38928 non-null  object
 4   평균기온(°C)      38928 non-null  float64
 5   최저기온(°C)      38928 non-null  float64
 6   최고기온(°C)      38928 non-null  float64
 7   강수 계속시간(hr)   3746 non-null   float64
 8   일강수량(mm)      15261 non-null  float64
 9   평균 풍속(m/s)    38876 non-null  float64
 10  평균 현지기압(hPa)  38928 non-null  float64
 11  합계 일조시간(hr)   38908 non-null  float64
 12  일 최심적설(cm)    89 non-null     float64
dtypes: float64(9), int64(2), object(2)
memory usage: 3.9+ MB