<a href="https://colab.research.google.com/github/wiv33/A-Learning-python/blob/master/machine-learning/_000_hello_machine/_003_study_essential/_001_eating/_000_eating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 식습관 데이터 / PCA / pandas

In [7]:
import pandas as pd
import numpy as np

df = pd.DataFrame(data=None, columns=['calory', 'breakfast', 'lunch', 'dinner', 'exerise', 'body_shape'])


data_list = [
          [1200, 1, 0, 0, 2, 'Skinny'],
          [2800, 1, 1, 1, 1, 'Normal'],
          [3500, 2, 2, 1, 0, 'Fat'],
          [1400, 0, 1, 0, 3, 'Skinny'],
          [5000, 2, 2, 2, 0, 'Fat'],
          [1300, 0, 0, 1, 2, 'Skinny'],
          [3000, 1, 0, 1, 1, 'Normal'],
          [4000, 2, 2, 2, 0, 'Fat'],
          [2600, 0, 2, 0, 0, 'Normal'],
          [3000, 1, 2, 1, 1, 'Fat']
        ]

for i in range(10):
  df.loc[i] = data_list[i]

In [5]:
df.head(1)

  calory breakfast lunch dinner exerise body_shape
0   1200         1     0      0       2     Skinny

# body_shape 그룹화 후 묘사하기

expected: 아래 output 만들기

           calory                   breakfast  ... dinner exerise
            count unique   top freq     count  ...   freq   count unique top freq
body_shape                                     ...
Fat             4      4  3000    1         4  ...      2       4      2   0    3
Normal          3      3  3000    1         3  ...      2       3      2   1    2
Skinny          3      3  1400    1         3  ...      2       3      2   2    2

[3 rows x 20 columns]

# body_shape 그룹화 후 칼로리 묘사하기

            count  unique   top  freq
body_shape
Fat             4       4  3000     1
Normal          3       3  3000     1
Skinny          3       3  1400     1

# body_shape가 Skinny 인 그룹의 평균 칼로리 확인하기

1300.0