<a href="https://colab.research.google.com/github/wiv33/A-Learning-python/blob/master/machine-learning/_000_hello_machine/_000_basic/_003_cuk_edu/_003_3_deep_learning/_001_evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 평가 (Evaluation)

성능 평가 지표는 일반적으로 `두 가지`

## `분류`
일반적으로 실제 결과 데이터와 예측 결과 데이터가 얼마나 정확하고 오류가 적게 발생하는가에 기반하지만,

단순히 정확도만 가지고 판단할 경우 잘못된 평가 결과에 빠질 수 있다.


## `회귀`

기본적으로 `예측 오차`를 가지고 정규화 수준을 재가공 하는 방법
- 대부분 실제값과 예측값의 `오차 평균 값`에 기반한다.

  * 오차에 절댓값을 씌운 뒤 평균 오차
  * 오차의 제곱 값에 루트를 씌운 뒤 평균 오차

### `분류`의 성능 평가 지표

이진(True or False), 멀티 분류 성능 지표 중, `이진` 분류에서 더욱 중요하게 강조하는 지표

- 정확도 (accuracy)
- 오차행렬 (Confusion Matrix)
- 정밀도 (Precision)
- 재현율 (Recall)
- F1 score
- ROC AUC

### 정확도 (Acuuracy)

`실제 데이터`에서 `예측 데이터`가 `얼마나 같은지` 판단하는 지표


    타이타닉 생존자 수행 결과로 예시 작성

In [ ]:
from sklearn.base import BaseEstimator

class MyDummyClassifier(BaseEstimator):
  # fit() 아무것도 수행하지 않음
  def fit(self, X, y=None):
    pass

  # predict() 메서드는 단순 성별(sex) 피처가 1이면 0, 그렇지 않으면 1로 예측
  def predict(self, X):
    pred = np.zeros((X.shape[0], 1))
    for i in range(X.shape[0]):
      if X['Sex'].iloc[i] == 1:
        pred[i] = 0
      else:
        pred[i] = 1

    return pred

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# load data
train = pd.read_csv('https://raw.githubusercontent.com/minsuk-heo/kaggle-titanic/master/input/train.csv')
test = pd.read_csv('https://raw.githubusercontent.com/minsuk-heo/kaggle-titanic/master/input/test.csv')
# 원본 데이터를 재로딩, 데이터 가공, 학습 데이터/테스트 데이터 분리

In [ ]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder

def fillna(df):
  df['Age'].fillna(df['Age'].mean(), inplace=True)
  df['Cabin'].fillna('N', inplace=True)
  df['Embarked'].fillna('N', inplace=True)
  df['Fare'].fillna(0, inplace=True)
  return df

# 머신러닝 알고리즘에 불필요한 속성 제거
def drop_features(df):
  df.drop(['PassengerId', 'Name', 'Ticket'], axis=1, inplace=True)
  return df

# 레이블 인코딩 수행
def format_features(df):
  df['Cabin'] = df['Cabin'].str[:1]
  features = ['Cabin', 'Sex', 'Embarked']
  for feature in features:
    le = LabelEncoder()
    le = le.fit(df[feature])
    df[feature] = le.transform(df[feature])
  return df

# 앞에서 설정한 데이터 전처리 함수 호출
def transform_features(df):
  df = fillna(df)
  df = drop_features(df)
  df = format_features(df)
  return df

In [ ]:
y_train = train['Survived']
x_train = train.drop('Survived', axis=1)
x_train = transform_features(x_train)

x_train, x_test, y_train, y_test = train_test_split(x_train, y_train, test_size=0.2, random_state=0)

생성한 dummay cliassfier를 이용해 학습 / ㅇ/ㅔ측 / 평가 수행

In [ ]:
myclf = MyDummyClassifier()
mypredictions = myclf.predict(x_test)

print('dummay Classifier의 정확도: {0:.4f}'.format(accuracy_score(y_test, mypredictions)))

dummay Classifier의 정확도: 0.7877