<a href="https://colab.research.google.com/github/wiv33/A-Learning-python/blob/master/machine-learning/_000_hello_machine/_000_basic/_008_pandas/_002_moving_population.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
df_co = pd.read_csv('https://docs.google.com/spreadsheets/u/0/d/1P7s-aD5dYr2355iqFRX1CUxpjbHhl4SYnjT5sP4Iy10/export?format=csv&id=1P7s-aD5dYr2355iqFRX1CUxpjbHhl4SYnjT5sP4Iy10&gid=0')
df_co.head()

     연번     확진일    지역          접촉력 노출여부
0  6103  11.02.   동작구     감염경로 조사중    Y
1  6102  11.02.   구로구   강남구 헬스장 관련    Y
2  6101  11.02.  영등포구     감염경로 조사중    Y
3  6100  11.02.   종로구     감염경로 조사중    Y
4  6099  11.02.   송파구  송파구 소재 병원관련    Y

In [ ]:
df_co.tail()

      연번    확진일   지역    접촉력 노출여부
6098   5  1.31.  성북구  #5 접촉    Y
6099   4  1.30.  마포구  해외 접촉    Y
6100   3  1.30.  종로구  #3 접촉    Y
6101   2  1.30.  중랑구  해외 접촉    Y
6102   1  1.24.  강서구  해외 접촉    Y

In [56]:
s = df_co.groupby(by=['지역'])['확진일']

KeyError: ignored

서울시 유동인구 데이터

[SKT DATA HUB](https://www.bigdatahub.co.kr/product/list.do?menu_id=1000157)

2020년 9월 ~ 2019년 3월

```javascript
const result = Array.from(document.querySelectorAll('.category_detail.clfix .title a')).reduce((acc, v) => {
  acc.push(v.getAttribute('href').split('pid=')[1]); 
  return acc
  }, [])

  result > ["1002332", "1002326", "1002317", "1002308", "1002302", "1002299", "1002295", "1002291", "1002286", "1002280", "1002277", "1002261", "1002260", "1002259", "1002258", "1002257", "1002256", "1002255", "1002254"]

```

In [51]:
import requests
import json
api_key = 'c61b5cd07c8bfaea68d1417c95619895dda597654d90c1e896a55909391a13a4'
# 2020.09, 2020.08 ... 2019.03
pids = ["1002332", "1002326", "1002317", "1002308", "1002302", "1002299", "1002295", "1002291", "1002286", "1002280", "1002277", "1002261", "1002260", "1002259", "1002258", "1002257", "1002256", "1002255", "1002254"]

df = pd.DataFrame(data=None, columns=['일자', '시간(1시간단위)', '연령대(10세단위)', '성별', '시', '군구', '유동인구수'])

# 9월

In [54]:
for x in range(1, 2):
  res = requests.get(f'https://api.bigdatahub.co.kr/v1/datahub/datasets/search.json?pid=1002332&TDCAccessKey={api_key}&$count=10000&$page={x}')
  j = json.loads(res.text)
  df = df.append(pd.DataFrame(j['entry']), ignore_index=True)

In [49]:
(2158 // 10)

215

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일자          1000 non-null   object
 1   시간(1시간단위)   1000 non-null   object
 2   연령대(10세단위)  1000 non-null   object
 3   성별          1000 non-null   object
 4   시           1000 non-null   object
 5   군구          1000 non-null   object
 6   유동인구수       1000 non-null   object
dtypes: object(7)
memory usage: 54.8+ KB

# 8월

In [ ]:
'https://api.bigdatahub.co.kr/v1/datahub/datasets/search.json?pid=1002326'

In [40]:
df = pd.DataFrame(j['entry'])
df.head()

Index(['일자', '시간(1시간단위)', '연령대(10세단위)', '성별', '시', '군구', '유동인구수'], dtype='object')

In [37]:
fig, ax = plt.subplots(1, 1, figsize=(12, 7))

sns.countplot()
df.plot.hist