<a href="https://colab.research.google.com/github/wiv33/learning-python/blob/master/testPython/baekjoon_2753.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

연도가 주어졌을 때,** 윤년이면 1, 아니면 0**을 출력하는 프로그램을 작성하시오.

윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.

예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

In [16]:
def isLeapYear(year):
    year = int(year)
    return (year % 4 == 0 and year % 100 != 0) or year % 400 == 0 if 1 else 0

assert isLeapYear(400) == 1

assert isLeapYear(2000) == 1

assert isLeapYear(1999) == 0

assert isLeapYear(1900) == 0

assert isLeapYear(7) == 0

if isLeapYear(400):
  print(1)
else:
  print(0)

1